/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults 
   ========================================================================== */


body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFF;
    background-blend-mode:overlay;
    font-family: 'Montserrat', sans-serif;
}
html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
}
.logo {
background-color:#fff;   
}
section {
    text-align: center;
    margin:auto;
    max-width: 500px;
}
button {
    margin-top:-15px ;
    margin-right: 1px;
background-color: rgba(255, 255, 255, 0.55);
padding:;
    border-radius:;
    color: #333;
    text-transform: capitalize;
    font-size: 18pt;
    border: 2px;
    border-color: #000000;
    width: 300px;
    height: ;
    
}

 
.dropdown select{
   background-color: #000000;
  width: 380px;
  margin-top: -500px;  
  padding: 10px;
padding-left: 30px;    
  font-size: 30px;
  line-height: 1.5;
  border: 20;
  border-radius: 150px;
  height: 64px;
  -webkit-appearance: none;
  color: #fff;
text-align: center; 
}
dropdown {

  text-align: center;
  overflow: hidden;
  background: url("images/downArrow.png") no-repeat right #fff;
  border: 15px solid #000;

}

/*hide results by default*/
#results {
display :none;
}
#profile {
display:none;
}
.back {

margin-left: -200px;    
}
#logoimage {
margin-bottom: -200px;
display: none;
}
.black {
color: #000;
margin-bottom: 35px;    
}
.flex {
display: flex;s
}

.placeholder {
width: 700px;
    margin-right: 50%;
        margin-left: -25%;
}
#search-button {
border-color: #000000;
    border-bottom-style: solid;
    border: -25px;
}
